<%=form_for @meeting, remote: true do |f| %>
  <div class="container">
    <h4 class="edit-meeting-title" id="myModalLabel">Reschedule <%= @meeting.meeting_type %></h4>
    <div class="errors">
      <% @meeting.errors.full_messages.each do |m| %>
          <%=show_errors(m).html_safe%>
      <%end%>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleInputPassword1">Meeting Time</label>
          <%=f.text_field :meeting_time %>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="knocking_for" class="col-xs-2 col-form-label">Knocking for</label>
        <div class="col-xs-10">
          <%= f.text_field :knocking_for, placeholder: "Information about ...", label: false %>
        </div>
    </div>
    <br />
    <div class="edit-meeting-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%=f.hidden_field :knockee_id, value: @meeting.knockee_id %>
      <%=f.hidden_field :knocker_id, value: @meeting.knocker_id %>
      <%=f.hidden_field :meeting_type %>
      <%=f.submit "Set up", class: "btn btn-success"%>
    </div>
  </div>
<%end%>