<div class="row">
  
  <!-- Knockee meetings -->
  <div class="col-sm-5 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">Meetings setup by you:</div>
      <div class="panel-body">
        <% if @knockee_meetings.size > 0 %>
          <% @knockee_meetings.each do |meeting| %>
            <h2>meeting 1</h2>
            <ul>
              <li>
                <%= meeting.meeting_type %>&nbsp;
                <% if meeting.meeting_type == Constants::VIDEO_TYPE %>
                  <%=link_to "Go To", meeting_path(meeting) , class: "btn btn-success" %>
                <%end%>
              </li>
              <li><%= meeting.meeting_price %></li>
              <li><%= meeting.meeting_time %></li>
            </ul>
          <% end %>
        <% else %>
          <h4>No upcoming meetings setup</h4>
          <h4><%=link_to "See students to setup meetings", users_path %></h4>
        <% end %>
      </div>
    </div>
  </div>


  <!-- Knocker meetings -->
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">Meetings reaching out to you:</div>
      <div class="panel-body">
        <% if @knocker_meetings.size > 0 %>
          <% @knocker_meetings.each do |meeting| %>
            <h4><%= full_name(meeting.knockee) %></h4>
            <ul>
              <li>
                <%= meeting.meeting_type %>&nbsp;
                <% if meeting.meeting_type == Constants::VIDEO_TYPE %>
                  <%=link_to "Go To", meeting_path(meeting) , class: "btn btn-success" %>
                <%end%>
              </li>
              <li>Price: $<%= meeting.meeting_price %> per 15 minutes</li>
              <li><%= meeting.meeting_time %></li>
            </ul>
          <% end %>
        <% else %>
          <h4>No upcoming meetings setup</h4>
          <h4><%=link_to "Try adding more information to your profile", edit_user_path(current_user) %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>




