<div class="row">
  
  <!-- Knockee meetings -->
  <div class="col-sm-5 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading meeting-header-message">Confirmed Meetings Setup by You (Knocker)</div>
      <div class="panel-body">
        
        <% if @knocker_meetings.size > 0 %>
          <% @knocker_meetings.each do |meeting| %>
            <a href="users/<%= meeting.knockee.id %>" class="meeting-user-tip" data-toggle="tooltip" title="<%= meeting.knocking_for %>"><%= full_name(meeting.knockee) %></a>
            <ul class="list-unstyled meetings-page-bullets">
              <% if meeting.meeting_type == Constants::VIDEO_TYPE %>
                <li>
                  <%=link_to "Go To", meeting_path(meeting) , class: "btn btn-success" %>
                </li>
              <% elsif meeting.meeting_type == Constants::CALL_TYPE %>
                <li>Phone Call</li>
              <% else %>
                <li>In Person Meeting</li>
                <li>LOCATION HERE</li>
              <% end %>
              <li><%= convert_db_time(meeting.meeting_time) %></li>
              <li>Price: <%= number_to_currency(meeting.meeting_price, percision: 2) %> per 15 minutes</li>
              <li><%=link_to "Click here to reschedule", edit_meeting_path(meeting) %></li>
            </ul>
          <% end %>
        <% else %>
          <h4>No upcoming meetings setup</h4>
          <h4><%=link_to "See students to setup meetings", users_path %></h4>
        <% end %>
      </div>
    </div>
  </div>


  <!-- Knocker meetings -->
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading meeting-header-message">Confirmed Meetings Awaiting You as a Knockee</div>
      <div class="panel-body">
        <% if @knockee_meetings.size > 0 %>
          <% @knockee_meetings.each do |meeting| %>
            <h4 class="user-name-format"><%= link_to full_name(meeting.knocker), user_path(meeting.knocker.id) %></h4>
            <ul class="list-unstyled meetings-page-bullets">
              <% if meeting.meeting_type == Constants::VIDEO_TYPE %>
                <li>
                  <%=link_to "Go To", meeting_path(meeting) , class: "btn btn-success" %>
                </li>
              <% elsif meeting.meeting_type == Constants::CALL_TYPE %>
                <li>Phone Call</li>
              <% else %>
                <li>In Person Meeting</li>
                <li>LOCATION HERE</li>
              <% end %>
              <li><%= convert_db_time(meeting.meeting_time) %></li>
              <li>Price: <%= number_to_currency(meeting.meeting_price, percision: 2) %> per 15 minutes</li>
              <li><%=link_to "Click here to reschedule", edit_meeting_path(meeting) %></li>
            </ul>
          <% end %>
        <% else %>
          <h4>No upcoming meetings setup</h4>
          <h4><%=link_to "Try adding more information to your profile", edit_user_path(current_user) %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>




