<div class="container">
  <h2><%= @meeting.meeting_type.capitalize %>, <%= @knocker.display_name %> with <%= @knockee.display_name %></h2>
  <% if current_user.id == @knockee.id %>
      <button class="btn btn-success" id="waiting_for_call" disabled> Waiting for <%= @knocker.display_name %> to call you.  </button>
  <% else %>
      <button class="btn btn-success" id="start_call"> Call Now </button>
  <% end %>
  <button class="btn btn-success" id="answer"> Answer </button>
  <button class="btn btn-danger" id="hangup"> Hang Up </button>
  <br/>
  <div id="status"></div>
  <div id="clientStart"></div>
  <br/>
  <video id="incoming" autoplay></video>
  <video id="outgoing" autoplay></video>
</div>


<script>
    $('document').ready(function() {
        //init html components
        $("#answer").hide();
        $("#hangup").hide();

        $("#signOut").click(function() {
            if (sinchClient) {
                sinchClient.terminate();
            }
        });

        var callClient;
        var call;

        var incomingCallListener = {
            onIncomingCall: function(incomingCall) {
                $("#status").append("<div>Incoming Call</div>");
                $("#answer").show();
                call = incomingCall;
                call.addEventListener(callListeners);
            }
        }

        var callListeners = {
            //call is "ringing"
            onCallProgressing: function(call) {
                $("#status").append("<div>Ringing</div>");
            },
            //they picked up the call!
            onCallEstablished: function(call) {
                $("#status").append("<div>Call established</div>");
                $("#outgoing").attr("src", call.outgoingStreamURL);
                $("#incoming").attr("src", call.incomingStreamURL);
                $("#hangup").show();
            },
            //ended by either party
            onCallEnded: function(call) {
                $("#status").append("<div>Call ended</div>");
                $("#outgoing").attr("src", "");
                $("#incoming").attr("src", "");
                call = null;
            }
        }

        function afterStartSinchClient() {
            // hide auth form
            //$("form#authForm").css("display", "none");
            // show logged-in view
            //$("div#sinch").css("display", "inline");
            // start listening for incoming calls
            sinchClient.startActiveConnection();
            // define call client (to handle incoming/outgoing calls)
            callClient = sinchClient.getCallClient();
            //initialize media streams, asks for microphone & video permission
            callClient.initStream();
            //what to do when there is an incoming call
            callClient.addEventListener(incomingCallListener);
        }


        sinchClient = new SinchClient({
            applicationKey: "<%=Constants::SINCH_API_KEY%>",
            capabilities: {messaging: true, calling: true, video: true},
            startActiveConnection: true,
            onLogMessage: function(message) {
                console.log(message.message);
            },
        });
        sinchClient.start({"userTicket":"<%=@ticket%>"})
                .then(function() {
                    //$("#clientStart").css("display", "inline");
                    afterStartSinchClient();
                });

        $("#start_call").on("click", function (event) {
            event.preventDefault();
            if (!call) {
                //usernameToCall = $("input#usernameToCall").val();
                usernameToCall = "<%= @knockee.email%>";
//                $("div#status").append("<div>Calling " + usernameToCall + "</div>");
                $("div#status").append("<div>Calling <%=@knockee.display_name%></div>");
                call = callClient.callUser(usernameToCall);
                call.addEventListener(callListeners);
            }
        });

        $("#answer").click(function(event) {
            event.preventDefault();
            if (call) {
                $("#status").append("<div>You answered the call</div>");
                call.answer();
            }
        });

        $("#hangup").click(function(event) {
            event.preventDefault();
            if (call) {
                $("div#status").append("<div>You hung up the call</div>");
                call.hangup();
                call = null
            }
        });
    });
</script>


<div class="container bootstrap snippet" id="chat-dialog" data-target="<%=current_user.get_target_user @knocker, @knockee%>" data-me="<%=current_user.id%>">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="portlet portlet-default">
        <div class="portlet-heading">
          <div class="portlet-title">
            <h4><i class="fa fa-circle text-green"></i> Jane Smith</h4>
          </div>
          <div class="portlet-widgets">
            <div class="btn-group">
              <button type="button" class="btn btn-white dropdown-toggle btn-xs" data-toggle="dropdown">
                <i class="fa fa-circle text-green"></i> Status
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="fa fa-circle text-green"></i> Online</a>
                </li>
                <li><a href="#"><i class="fa fa-circle text-orange"></i> Away</a>
                </li>
                <li><a href="#"><i class="fa fa-circle text-red"></i> Offline</a>
                </li>
              </ul>
            </div>
            <span class="divider"></span>
            <a data-toggle="collapse" data-parent="#accordion" href="#chat"><i class="fa fa-chevron-down"></i></a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div id="chat" class="panel-collapse collapse in">
          <div>
            <div class="portlet-body chat-widget" style="overflow-y: auto; width: auto; height: 300px;">
              <div class="row">
                <div class="col-lg-12">
                  <p class="text-center text-muted small">January 1, 2014 at 12:23 PM</p>
                </div>
              </div>
              <div id="message-list">
                <% @meeting.messages.order("created_at").each do |message| %>
                    <%= render partial: 'messages/message', locals: {message: message}%>
                <% end %>
              </div>
            </div>
          </div>
          <div class="portlet-footer">
            <!--<form role="form">-->
            <%= form_for [@meeting, @message], remote: true do |f| %>
              <div class="form-group">
                <%= f.text_area :body, class: "form-control", placeholder: "Enter message..."%>
              </div>
              <div class="form-group">
                <!--<button type="button" class="btn btn-default pull-right" id="send-btn">Send</button>-->
                <%=f.submit :Send, class: "btn btn-default pull-right"%>
                <div class="clearfix"></div>
              </div>
            <!--</form>-->
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
  </div>
</div>