<div class="row user-registration-container">
	<h2>Signup for Knock</h2>
	<br />
	<%= bootstrap_form_for(user, url: user_registration_path, layout: :horizontal, label_col: "col-xs-4", control_col: "col-xs-8") do |f| %>
	  <%= f.text_field  :first_name %>
	  <%= f.text_field  :last_name %>
	  <%= f.email_field :email %>
	  <%= f.password_field :password %>
	  <%= f.select  :student_status, [['College Student', 'college_student'], ['Highscholer', 'highschooler']] %>
	  <%= f.submit "Join Knock", class: "btn btn-success" %>
	<% end %>
</div>