<div class="card">
  <%=link_to user_path(user) do %>
      <img class="card-img-top" src="<%= user.avatar_path.url %>">
  <%end%>

  <div class="card-block">
    <h4 class="card-title"><%= link_to user.display_name, user_path(user) %></h4>
    <h5 class="card-title"><%= user.college %></h5>
    <h5 class="card-title"><%= user.major %></h5>
    <a href="users/<%= user.id%>"class="knock-at-me-tip" data-toggle="tooltip" title="<%= user.bio %>">Knock @<%= user.username %> for</a>
  </div>
</div>