<div class="container-fluid">
  <div class="row">

    <div class="user-preview-container col-md-4 hidden-sm hidden-xs">
      <h2 class="user-profile-name"><%= @user.display_name %></h2>
      <img src="<%=get_user_avatar @user.avatar_path.url%>" class="img-thumbnail img-rounded img-profile" />
    </div>

    <div class="edit-form-container col-md-8 col-sm-12">
      <!-- User Edit form -->
      <%= simple_form_for @user do |f| %>
        <div class="account-information-fields">
          <!-- fields for all users -->
          <h2 class="edit-profile-titles">Account Information</h2>
          <div class="form-group row">
            <!-- first name field -->
            <label for="first_name" class="col-xs-2 col-form-label">First Name:</label>
            <div class="col-xs-4">
              <%= f.input :first_name, input_html: { class: "form-control" }, label: false %>
            </div>
          
            <!-- last name field -->
            <label for="last_name" class="col-xs-2 col-form-label">Last Name:</label>
            <div class="col-xs-4">
              <%= f.input :last_name, input_html: { class: "form-control" }, label: false %>
            </div>
          </div>


          <div class="form-group row">
            <!-- user avatar field -->
            <label for="avatar_path" class="col-xs-2 col-form-label">Avatar:</label>
            <div class="col-xs-10">
              <%= f.file_field :avatar_path, class: "form-control-file", "aria-describedby" => "fileHelp" %>
            </div>
          </div>


          <div class="form-group row">
            <!-- email field -->
            <label for="email" class="col-xs-2 col-form-label">Email:</label>
            <div class="col-xs-10">
              <%= f.input :email, as: :email, input_html: { class: "form-control" }, placeholder: "Email", required: true, label: false %>
            </div>
          </div>

          <div class="form-group row">
            <!-- student status -->
            <label for="student_status" class="col-xs-2 col-form-label">Student Status:</label>
            <div class="col-xs-10">
              <!--<input class="form-control" type="text" value="<%#=@user.student_status%>" id="student_status">-->
              <%=f.select :student_status, [['College Student', 'college_student'],['Highschooler', 'highschooler']], {}, {class: "form-control user-edit-profile-selectbox-style"} %>
            </div>
          </div>
        </div>



        <div class="personal-information-fields">
          <!-- fields for all users -->
          <h2 class="edit-profile-titles">Personal Information</h2>
            <div class="form-group row">
            <!-- first name field -->
            <label for="activities" class="col-xs-2 col-form-label">Activities:</label>
            <div class="col-xs-10">
              <input class="form-control" type="text" value="<%=@user.activities%>" id="activities">
            </div>
          </div>

          <% if is_college_student?(@user) %>
            <div class="form-group row">
              <!-- philanthropy percentage field -->
              <label for="philanthropy_percent" class="col-xs-2 col-form-label">Philanthropy percentage:</label>
              <div class="col-xs-10">
                <input class="form-control" type="number" value="<%=@user.philanthropy_percent%>" id="philanthropy_percent">
              </div>
            </div>
          <% end %>

          <div class="form-group row">
            <!-- cell phone field -->
            <label for="cell_phone" class="col-xs-2 col-form-label">Cell Phone:</label>
            <div class="col-xs-10">
              <%= f.input :cell_phone, as: :tel, input_html: { class: "form-control" }, label: false %>
            </div>
          </div>

          <div class="form-group row">
            <!-- High School field -->
            <label for="highschool" class="col-xs-2 col-form-label">High School:</label>
            <div class="col-xs-10">
              <%= f.text_field :highschool, class: "form-control", label: false %>
            </div>
          </div>

          <% if is_college_student?(@user) %>
            <div class="form-group row">
              <!-- College field -->
              <label for="college" class="col-xs-2 col-form-label">College:</label>
              <div class="col-xs-10">
                <%= f.text_field :college, class: "form-control"%>
              </div>
            </div>
          <% end %>
        </div>
        

       <% if is_college_student?(@user) %>
          <div class="meeting-information-fields">
            <!-- availability fields-->
            <h2 class="edit-profile-titles">Meeting Information</h2>  

            <div class="form-group row">
              <!-- Availability field -->
              <label for="avaliability" class="col-xs-2 col-form-label">Availability:</label>
              <div class="col-xs-10">
                <input class="form-control" type="text" value="<%=@user.avaliability%>" id="avaliability">
              </div>
            </div>

            <div class="form-group row">
              <!-- phone call price field -->
              <label for="phone_call_price" class="col-xs-2 col-form-label">Phone Meeting Price:</label>
              <div class="col-xs-10">
                <%= f.input :phone_call_price , input_html: { class: "form-control"}, label: false %>
              </div>
            </div>

            <div class="form-group row">
              <!-- venmo account field -->
              <label for="venmo" class="col-xs-2 col-form-label">Venmo username:</label>
              <div class="col-xs-10">
                <%= f.input :venmo , input_html: { class: "form-control" }, label: false %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="document-management-fields">
          <!-- User documents -->
          <h2 class="edit-profile-titles">Document Management</h2>
          <div class="form-group row">
            <!-- common_essay_path field -->
            <label for="common_essay_path" class="col-xs-4 col-form-label">Common Application Essay:</label>
            <div class="col-xs-8">
              <%= f.file_field :common_essay_path, class: "form-control-file", "aria-describedby" => "fileHelp" %>
            </div>
          </div>

          <div class="form-group row">
            <!-- college_essay_path field -->
            <label for="college_essay_path" class="col-xs-4 col-form-label">College Specific Essay:</label>
            <div class="col-xs-8">
              <%= f.file_field :college_essay_path, class: "form-control-file", "aria-describedby" => "fileHelp" %>
            </div>
          </div>

          <div class="form-group row">
            <!-- resume_path field -->
            <label for="resume_path" class="col-xs-4 col-form-label">Resume:</label>
            <div class="col-xs-8">
              <%= f.file_field :resume_path, class: "form-control-file", "aria-describedby" => "fileHelp" %>
            </div>
          </div>
        </div>
        <%= f.submit :Submit, class: "btn btn-primary"%>
      <%end%>
    </div>

  </div>
</div>