<div class="container-fluid">
  <div class="row">

    <div class="user-preview-container col-md-4 hidden-sm hidden-xs">
      <h2 class="user-profile-name"><%= @user.display_name %></h2>
      <img src="<%= @user.avatar_path.url%>" class="img-thumbnail img-rounded img-profile" />
    </div>

    <div class="edit-form-container col-md-8 col-sm-12">
      <!-- User Edit form -->
      <%= simple_form_for @user do |f| %>
        <div class="account-information-fields">
          <!-- fields for all users -->
          <h2 class="edit-profile-titles">Account Information</h2>

          <div class="edit-fields-container">
            
            <div class="form-group row form-inline">  
              <!-- first name field -->
              <label for="first_name" class="col-xs-2 col-form-label">First name</label>

              <div class="col-xs-4">
                <%= f.input :first_name, input_html: { class: "form-control" }, label: false %>
              </div>
            
              <!-- last name field -->
              <label for="last_name" class="col-xs-2 col-form-label">Last name</label>

              <div class="col-xs-4">
                <%= f.input :last_name, input_html: { class: "form-control" }, label: false %>
              </div>
            </div>

            <div class="form-group row">
              <!-- username field -->
              <label for="user name" class="col-xs-2 col-form-label">Username</label>
              <div class="col-xs-4">
                <%= f.input :username, placeholder: "Username goes here", input_html: { class: "form-control" }, label: false %>
              </div>

              <!-- email field -->
              <label for="email" class="col-xs-2 col-form-label">Email</label>
              <div class="col-xs-4">
                <%= f.input :email, as: :email, input_html: { class: "form-control" }, placeholder: "email@university.com", required: true, label: false %>
              </div>

            </div>


            
            <div class="form-group row">
              <!-- user avatar field -->
              <label for="avatar_path" class="col-xs-2 col-form-label">Avatar</label>
              <div class="col-xs-4">
                <%= f.file_field :avatar_path, value: @user.avatar_path.path, class: "form-control-file", "aria-describedby" => "fileHelp" %>
              </div>

              <!-- student status -->
              <label for="student_status" class="col-xs-2 col-form-label">Education</label>
              <div class="col-xs-4">
                <%=f.select :student_status, [['College', 'college_student'],['Highschool', 'highschooler']], {}, {class: "form-control user-edit-profile-selectbox-style"} %>
              </div>
            </div>

          </div>
        </div>



        <div class="personal-information-fields">
          <!-- fields for all users -->
          <h2 class="edit-profile-titles">Personal Information</h2>
            <div class="edit-fields-container">

              <div class="form-group row">
                <!-- Knock @ me for -->
                <label for="activities" class="col-xs-2 col-form-label">Knock @me for</label>
                <div class="col-xs-10">
                  <%= f.input :bio, input_html: { class: "form-control" }, placeholder: "Description of what people should reach out to you for", required: true, label: false %>
                </div>
              </div>

              <div class="form-group row">
              <!-- first name field -->
              <label for="activities" class="col-xs-2 col-form-label">Activities</label>
              <div class="col-xs-10">
                <%= f.input :activities, input_html: { class: "form-control" }, placeholder: "Activities (seperated by comma)", required: true, label: false %>
              </div>
            </div>

            <div class="form-group row">
              <!-- cell phone field -->
              <label for="cell_phone" class="col-xs-2 col-form-label">Cell Phone</label>
              <div class="col-xs-10">
                <%= f.input :cell_phone, as: :tel, input_html: { class: "form-control" }, placeholder: "(555) 555 - 5555", label: false %>
              </div>
            </div>

            <% if is_college_student?(@user) %>
              <div class="form-group row">
                <!-- College field -->
                <label for="college" class="col-xs-2 col-form-label">College</label>
                <div class="col-xs-10">
                  <%= f.text_field :college, placeholder: "Your University here", class: "form-control"%>
                </div>
              </div>
            <% end %>

            <% if is_college_student?(@user) %>
              <div class="form-group row">
                <!-- College field -->
                <label for="major" class="col-xs-2 col-form-label">Major</label>
                <div class="col-xs-10">
                  <%= f.text_field :major, placeholder: "Economics", class: "form-control"%>
                </div>
              </div>
            <% end %>

            <div class="form-group row">
              <!-- High School field -->
              <label for="highschool" class="col-xs-2 col-form-label">High School</label>
              <div class="col-xs-10">
                <%= f.text_field :highschool, class: "form-control", label: false %>
              </div>
            </div>

            <div class="form-group row">
              <!-- High School field -->
              <label for="philanthropy" class="col-xs-2 col-form-label">Philanthropy</label>
              <div class="col-xs-6">
                <%= f.text_field :philanthropy, placeholder: "Georgetown University Endownment", class: "form-control", label: false %>
              </div>
            </div>

            <% if is_college_student?(@user) %>
              <div class="form-group row">
                <!-- philanthropy percentage field -->
                <label for="philanthropy_percent" class="col-xs-2 col-form-label">Donation %</label>
                <div class="col-xs-5 philanthropy-slider">
                  <%= f.text_field :philanthropy_percent, id: 'phil-slider', type: 'text', 
                    data: {'slider-id' => 'phil-slider', 
                           'slider-min' => '0', 
                           'slider-max' => '100', 
                           'slider-step' => '5', 
                           'slider-value' => '5' } %>
                </div>
                <div class="col-xs-2">
                  <input class="form-control" type="text" value="<%=@user.activities%>%" id="philanthropyPercentStatic" disabled>
                </div>
              </div>
            <% end %>

          </div>
        </div>
        

       <% if is_college_student?(@user) %>
          <div class="meeting-information-fields">
            <!-- availability fields-->
            <h2 class="edit-profile-titles">Meeting Information</h2>  

            <div class="edit-fields-container">

              <div class="form-group row">
                <!-- Availability field -->
                <label for="avaliability" class="col-xs-2 col-form-label">Availability</label>
                <div class="col-xs-10">
                  <input class="form-control" type="text" value="<%=@user.avaliability%>" placeholder="Weekends 3PM - 6PM" id="avaliability">
                </div>
              </div>

              <div class="form-group row">
                <!-- phone call price field -->
                <label for="phone_call_price" class="col-xs-2 col-form-label">Hourly rate</label>
                <div class="col-xs-4">
                  <%= f.input :phone_call_price , input_html: { class: "form-control"}, placeholder: "15.00", label: false %>
                </div>

                <label class="col-xs-2 col-form-label">Price per minute</label>
                <div class="col-xs-4">
                  <input class="form-control" type="text" value="<%=@user.activities%>" id="ppm" placeholder="calculate from hourly rate" disabled>
                </div>
              </div>

              <div class="form-group row">
                <!-- venmo account field -->
                <label for="venmo" class="col-xs-2 col-form-label">Venmo</label>
                <div class="col-xs-4">
                  <%= f.input :venmo , input_html: { class: "form-control" }, placeholder: "Venmo Username", label: false %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="document-management-fields">
          <!-- User documents -->
          <h2 class="edit-profile-titles">Document Management</h2>
            <div class="edit-fields-container">
            <div class="form-group row">
              <!-- common_essay_path field -->
              <label for="common_essay_path" class="col-xs-3 col-form-label">Common Application Essay</label>
              <div class="col-xs-9">
                <%= f.file_field :common_essay_path, class: "form-control-file", "aria-describedby" => "fileHelp" %>
              </div>
            </div>

            <div class="form-group row">
              <!-- college_essay_path field -->
              <label for="college_essay_path" class="col-xs-3 col-form-label">College Specific Essay</label>
              <div class="col-xs-9">
                <%= f.file_field :college_essay_path, class: "form-control-file", "aria-describedby" => "fileHelp" %>
              </div>
            </div>

            <div class="form-group row">
              <!-- resume_path field -->
              <label for="resume_path" class="col-xs-3 col-form-label">Resume</label>
              <div class="col-xs-9">
                <%= f.file_field :resume_path, class: "form-control-file", "aria-describedby" => "fileHelp" %>
              </div>
            </div>

            <div class="form-group row">
              <!-- resume_path field -->
              <label for="resume_path" class="col-xs-3 col-form-label">Accept Phone Call</label>
              <div class="col-xs-9 form-inline">
                <%= f.input :accept_phone_call, label: false, as: :radio_buttons %>
              </div>
            </div>

            <div class="form-group row">
              <!-- resume_path field -->
              <label for="resume_path" class="col-xs-3 col-form-label">Accept Video Call</label>
              <div class="col-xs-9 form-inline">
                <%= f.input :accept_video_call, label: false, as: :radio_buttons%>
              </div>
            </div>

            <div class="form-group row">
              <!-- resume_path field -->
              <label for="resume_path" class="col-xs-3 col-form-label">Accept Meeting</label>
              <div class="col-xs-9 form-inline">
                <%= f.input :accept_meeting, label: false, as: :radio_buttons%>
              </div>
            </div>
          </div>
        </div>
        <%= f.submit :Submit, class: "btn btn-primary"%>
      <%end%>
    </div>

  </div>
</div>