<div id="upload-essay-image" >
  <div class="image-text-container">
    <h1 class="upload-essay-background-image-text"></h1>
  </div>
</div>

<br />

<br />

<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">High School Seniors:</div>
      <div class="panel-body">
        <ul>
          <li>View current students and schedule a call</li>
          <li>Enjoy getting an inside look at the college application process like never before</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">College Students:</div>
      <div class="panel-body">
        <ul>
          <li>Upload your credentials</li>
          <li>Enjoy a passive source of income&nbsp;</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-6 col col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="input-group">
      <h4 class="search-label">Search for schools, activities, majors, or anything you want to connect on</h4>
      <%= form_tag(search_tags_path, method: "post", id: "search-form") do %>
        <%= text_field_tag :term, params[:term], placeholder: "Search for students to reach out to", class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag "Start Knocking", class: 'btn btn-default' %>
        </span>
      <% end %>
    </div>
  </div>
</div>


<br/>

<div class="container" id="essays">
  <div class="row">
    <% @users.each do |user|%>
      <div class="col-md-4 col-md-offset-0 col-sm-offset-0  col-sm-6 col-xs-12 essays">
        <%= render partial: "users/user_card", locals: { user: user } %>
      </div>
    <%end%>
  </div>
  <%= paginate @users %>
</div>