<div class="container-fluid">
  <!-- Message to user - confirmations -->
  <div class="row" id="setup_call_request_alert">
    <div class="col-md-8">
      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Schedule request and email sent please wait for <%=@knockee.display_name%> to accept.
      </div>
    </div>
  </div>
  <div class="row" id="setup_meeting_request_alert">
    <div class="col-md-8">
      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Schedule meeting and email sent please wait for <%=@knockee.display_name%> to accept.
      </div>
    </div>
  </div>

  <!-- link to direct users back to users page -->
  <small><%= link_to "â† BACK TO VIEW STUDENTS", users_path %></small>
  <br/>



  <div class="row">
    <div class="col-md-6 col-sm-7 col-md-offset-1 col-xs-12">
      <h2 class="user-profile-name"><%= @knockee.display_name %></h2>
      <img src="<%= @knockee.avatar_path.url %>" class="img-thumbnail img-profile" />
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
      <h2 class="user-profile-name">Knock @<%= @knockee.username %> for:</h2>
      <h4><%= @knockee.bio %></h4>

      <br />

      <div class="panel panel-default">
        <div class="panel-heading">Basic Information:</div>
        <div class="panel-body">
          <ul class="list-unstyled meetings-page-bullets">
            <% if @knockee.phone_call_price %>
              <li><span class="user-show-db-title">College:</span> <%= @knockee.college%></li>
            <%end%>

            <% if @knockee.video_price %>
              <li><span class="user-show-db-title">Major:</span> <%= @knockee.major%></li>
            <%end%>

            <% if @knockee.meeting_price %>
              <li><span class="user-show-db-title">High School:</span> <%= @knockee.highschool %></li>
            <%end%>
            <% if @knockee.common_essay_path %>
              <li><span class="user-show-db-title">Activities:</span> <%= @knockee.activities %></li>
            <%end%>
          </ul>
        </div>
      </div>

      <br />

      <div class="panel panel-default">
        <div class="panel-heading"><%= @knockee.display_name %> Pricing:</div>
        <div class="panel-body">
          <ul class="list-unstyled meetings-page-bullets">
            <% if @knockee.phone_call_price %>
              <li><span class="user-show-db-title">Phone calls:</span> <%= number_to_currency(@knockee.phone_call_price, percision: 2) %></li>
            <%else%>
              <li><span class="user-show-db-title">Phone calls:</span> This student does not accept calls.</li>
            <%end%>

            <% if @knockee.video_price %>
              <li><span class="user-show-db-title">Video calls:</span> <%= number_to_currency(@knockee.video_price, percision: 2) %></li>
            <%else%>
              <li><span class="user-show-db-title">Video calls:</span> This student does not video calls.</li>
            <%end%>

            <% if @knockee.meeting_price %>
              <li><span class="user-show-db-title">In Person Meetings:</span> <%= number_to_currency(@knockee.meeting_price, percision: 2) %></li>
            <%else%>
              <li><span class="user-show-db-title">In Person Meetings: </span>This student does not accept in person meetings.</li>
            <%end%>

            <% if @knockee.common_essay_path %>
              <li><span class="user-show-db-title">Essay:</span> <%= number_to_currency('5', percision: 2) %></li>
            <%end%>

            <% if @knockee.avaliability %>
              <li><span class="user-show-db-title">Availability:</span> <%= @knockee.avaliability %></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <br/>

  <div class="row">
    <div class="col-md-6 col-sm-7 col-md-offset-1 hidden-xs">
      <h2 class="knock-text-color"><%= @knockee.display_name %>'s Documents</h2>

      <!-- common_essay_path -->
      <% if @knockee.common_essay_path.present? %>
        <img src="<%= @knockee.common_essay_path.url %>" class="user-documents col-sm-4" />
      <% end %>
      
      <!-- college_essay_path -->
      <% if @knockee.college_essay_path.present? %>
        <img src="<%= @knockee.college_essay_path.url %>" class="user-documents col-sm-4" />
      <% end %>

      <!-- resume_path -->
      <% if @knockee.resume_path.present? %>
        <img src="<%= @knockee.resume_path.url %>" class="user-documents col-sm-4" />
      <% end %>

    </div>

    <div class="col-md-4 col-sm-5 col-xs-12">
    
      <h2 class="knock-text-color">Schedule a:</h2>
      <% if @knockee.accept_phone_call && @knockee.phone_call_price.present? %>
          <a class="btn btn-info global-knock-button profile-button col-xs-5" id="call-btn">Phone Call</a>
      <% end %>
      <% if @knockee.accept_video_call && @knockee.video_price.present? %>
          <a class="btn btn-info global-knock-button profile-button col-xs-5" id="video-call-btn">Video Call</a>
      <% end %>
      <% if @knockee.accept_meeting && @knockee.meeting_price.present? %>
          <a class="btn btn-info global-knock-button profile-button col-xs-5" id="meeting-btn">Meeting</a>
      <% end %>
      <% if @knockee.college_essay_path.url.present? || @knockee.common_essay_path.url.present? || @knockee.resume_path.url.present? %>
        <%=link_to "Buy Essay", carts_add_to_cart_path(user_id: @knockee.id), class: "btn btn-info global-knock-button profile-button col-xs-5" %>
      <% end %>

      <div class="modal fade" id="meeting-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content" id="setup_meeting_request_modal_content">
            <span class="global_success" id="cc-setup-success"></span>
            <%=render partial: "users/meeting_form"%>
          </div>
        </div>
      </div>

      <div class="modal fade" id="credit-card-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content users-cc-setup-form" id="credit_card_modal_content">
            <%=render partial: "carts/payment_form", locals: {submit_btn_text: 'Submit', url: carts_config_cc_path, submit_btn_type: 'button', knockee: @knockee}%>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>