<div id="page-content">
  <div class="carousel summaries-carousel slide" data-ride="carousel" data-interval="false" id="home-main-carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item" id="connect-slide">
        <div class="container">
          <div class="carousel-caption">
            <!-- User Message -->
            <div class="col-md-5 hidden-sm hidden-xs">
              <h3>College students make passive income by uploading their actual application essays they used and meeting in real-time with you.</h3>
              <div class="spaced-row">
                <%= link_to "Student Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary global-knock-button"%>
              </div>
            </div>
            <!-- Form -->
            <div class="col-md-5 col-md-offset-2 col-sm-10 col-sm-offset-1">
              <%= render partial: "users/new", locals: {user: @user} %>
            </div>
          </div>
        </div>

      </div>
      <div class="item active" id="knock-slide">
        <div class="container">
          <div class="carousel-caption">
            <!-- User Message -->
            <div class="col-md-5 hidden-sm hidden-xs">
              <h3 class="display-message"> Knock on a student's virtual front door to request an in-person, video, or phone meeting.</h3>
              <div class="spaced-row">
                <%= link_to "Start Knocking", users_path, class: "btn btn-lg btn-primary global-knock-button"%>
              </div>
            </div>
            <!-- Form -->
            <div class="col-md-5 col-md-offset-2 col-sm-10 col-sm-offset-1">
              <%= render partial: "users/new", locals: {user: @user} %>
            </div>
          </div>
        </div>

      </div>
      <div class="item" id="announcements-slide">
        <div class="container">
          <div class="carousel-caption">
            <!-- User Message -->
            <div class="col-md-5 hidden-sm hidden-xs">
              <h3 class="display-message">90% of students have chosen to donate a portion of their earnings to the 1789 Scholarship Fund</h3>
              <div class="spaced-row">
                <a class="btn btn-lg btn-primary global-knock-button" href="http://giving.georgetown.edu/what-to-support/1789-scholarship-imperative">Learn More</a>
              </div>
            </div>

            <!-- Form -->
            <div class="col-md-5 col-md-offset-2 col-sm-10 col-sm-offset-1">
              <%= render partial: "users/new", locals: {user: @user} %>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-summaries-container">
      <div class="carousel-summaries-margin"></div>
      <div class="carousel-summaries strong container">
        <div class="col-sm-4 carousel-summary">
          <div class="notch-margin"></div>
          <div class="notch"></div>
          <div class="notch-margin right"></div>
          <div class="row">
            <div class="col-sm-10 text-center col-sm-offset-1">
              <h3>Passive-Income</h3>
              <p>Make passive income by uploading essays and connecting with prospective students.</p>
              <div class="spaced-row">
                <img src="/images/icons/header-icon-directory.png" alt="Header icon directory">
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-4 carousel-summary active">
          <div class="notch-margin"></div>
          <div class="notch"></div>
          <div class="notch-margin right"></div>
          <div class="row">
            <div class="col-sm-10 text-center col-sm-offset-1">
              <h3>What is Knock?</h3>
              <p>Knock is a virtual door knocker to materialize meetings without a middle-man.</p>
              <div class="spaced-row">
                <img src="/images/icons/header-icon-knock.png" alt="Header icon knock">
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-4 carousel-summary">
          <div class="notch-margin"></div>
          <div class="notch"></div>
          <div class="notch-margin right"></div>
          <div class="row">
            <div class="col-sm-10 text-center col-sm-offset-1">
              <h3>Philanthropy</h3>
              <p>Students have a civic-minded option to donate a portion of earnings to those with financial need.</p>
              <div class="spaced-row">
                <img src="/images/icons/icon-tower@2x.png" alt="Header icon announcements">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-summaries-margin"></div>
    </div>
  </div>

  <br>
  <br>
</div>