<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey("<%= Constants::STRIPE_API_PUBLISHABLE_KEY %>");
</script>
<%= form_tag url || carts_pay_path, {class: "form-horizontal", role: "form", id: "payment-form", method: :post} do %>
    <br/>
    <!-- Temporoly put here, so that we won't show it on checkout page -->
    <% unless action_name == 'checkout' %>
        <span class="config-errors">You need to setup your bank info before schedule meetings</span>
    <%end%>
    <br/>
    <span class="payment-errors"></span>
    <fieldset>
      <legend>Payment</legend>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
        <div class="col-sm-9">
          <!--<input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">-->
          <%= text_field_tag :card_holder_name, '', class: "form-control", placeholder: "Card Holder's Name"%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Card Number</label>
        <div class="col-sm-9">
          <!--<input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">-->
          <%= text_field_tag :card_number, '', class: "form-control", placeholder: "Debit/Credit Card Number", "data-stripe" => "number"%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-xs-3">
              <%= select_tag :exp_month, "<option value='01'>Jan (01)</option>
                <option value='02'>Feb (02)</option>
                <option value='03'>Mar (03)</option>
                <option value='04'>Apr (04)</option>
                <option value='05'>May (05)</option>
                <option value='06'>June (06)</option>
                <option value='07'>July (07)</option>
                <option value='08'>Aug (08)</option>
                <option value='09'>Sep (09)</option>
                <option value='10'>Oct (10)</option>
                <option value='11'>Nov (11)</option>
                <option value='12'>Dec (12)</option>".html_safe,  multiple: false, class: "form-control col-sm-2", "data-stripe" => "exp_month" %>
            </div>
            <div class="col-xs-3">
              <%= select_tag :exp_year, "<option value='13'>2013</option>
                <option value='14'>2014</option>
                <option value='15'>2015</option>
                <option value='16'>2016</option>
                <option value='17'>2017</option>
                <option value='18'>2018</option>
                <option value='19'>2019</option>
                <option value='20'>2020</option>
                <option value='21'>2021</option>
                <option value='22'>2022</option>
                <option value='23'>2023</option>".html_safe,  multiple: false, class: "form-control", "data-stripe" => "exp_year" %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
        <div class="col-sm-4">
          <!--<input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">-->
          <%= text_field_tag :cvv, '', class: "form-control", placeholder: "Security Code", "data-stripe" => "cvc"%>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <%=submit_tag submit_btn_text || "Pay Now", class: "btn btn-success submit" %>
          <% #if submit_btn_type == 'submit'%>
              <%#=submit_tag submit_btn_text || "Pay Now", class: "btn btn-success submit" %>
          <%# else %>
              <!--<button type="button" class="btn btn-success submit" id="payment_submit_btn"><%#=submit_btn_text%></button>-->
          <% #end %>
        </div>
      </div>
    </fieldset>
<% end %>