Congrats <%=@knocker.display_name%>,
<br/>
<p>Your <%= Constants::MEETING_TYPES[@meeting.meeting_type] %> has been accepted!</p>
<br/>

<!-- I just want to have phone and video call using the same confirmation message in email, the same would be happen on lots of other email views. -->
<% if @meeting.meeting_type == Constants::CALL_TYPE || @meeting.meeting_type == Constants::VIDEO_TYPE %>
    <p>Knock will automatically call you on <%=call_time @meeting.meeting_time%>.</p>
<%else%>
    <p>The location of the meeting would be <%=@meeting.meeting_location%>, and don't forget to attend it!</p>
<%end%>

<br/>
<p>You will be paying "<%=@knockee.display_name%>'s price of" $<%=price(@knockee.phone_call_price, 15)%> per minute.</p>
<p>Remember the first three minutes are granted free and your price per minute will begin accruing immediately after.</p>
<br/>
<p>Happy Knocking!</p>
<p>Knock Team</p>