<!--Here we are gonna use bunch of if to show different messages according to the meeting type -->
Congrats <%=@knockee.display_name%>,<br/><br/>

<p><%=@knocker.display_name%> just requested a <%= Constants::MEETING_TYPES[@meeting.meeting_type]%> for the following time:</p>

<p><%=call_time @meeting.meeting_time%></p>

<!-- show location if it's in-person -->
<% if @meeting.meeting_type == Constants::IN_PERSON_TYPE %>
  <p>The location of the meeting would be: <%= @meeting.meeting_location %></p>
<%end%>

<p>You will be paid your price of $<%= toggle_price(@meeting, @knockee) %> per 15 minutes. Remember that the first 3 minutes will be granted free to ensure you both can get acquainted with each other. Your earnings will start accruing immediately after.</p>

<p>
  Would you like to accept this <%= Constants::MEETING_TYPES[@meeting.meeting_type] %>?
  <%=link_to 'Sure thing.', accept_call_meetings_url(meeting_id: @meeting.id, knockee_id: @knockee.id, knocker_id: @knocker.id), class: 'btn btn-success'%>
</p>

<br/>

<p>You can provide another alternative time <%=link_to 'here.', alternative_time_meetings_url(meeting_id: @meeting.id, knockee_id: @knockee.id, knocker_id: @knocker.id), class: 'btn btn-warning'%></p>
<br/>

<p>Or, you can <%=link_to 'reject this Knock.', reject_reason_meetings_url(meeting_id: @meeting.id, knockee_id: @knockee.id, knocker_id: @knocker.id), class: 'btn btn-danger'%>.</p>
<br/>
Happy Knocking!