<!DOCTYPE html>
<html>
<head>
  <title>College Door Knocker</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body class="<%="#{controller_name}-#{action_name}"%>">
	<%= render partial: "layouts/header" %>
    <!-- I added Cart back here, let's do some styles about it. -->
    <%=render partial: "layouts/shopping_cart" if session[:cart]%>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <p><%=show_flash_by_key :duplicated_college_student%></p>
	<%= yield %>

	<br/><br/><br/><br/>
	
	<%unless @nofooter%>
	  <%= render partial: "layouts/footer" %>
	<%end%>
</body>
</html>
