<div class="row user-registration-page sign-up-container">
  <h2>Signup for Knock</h2>
  <br />
  <%= bootstrap_form_for(resource) do |f| %>
    <%= devise_error_messages! %>

    <%= f.text_field  :first_name %>
    <%= f.text_field  :last_name %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <%= f.select :student_status, [['College', 'college_student'],['Highschool', 'highschooler']], {}, {} %>
    <%= f.submit "Join Knock", class: "btn btn-success" %>
  <% end %>
</div>